.title
{
    text-align: center;
}
.orange
{
    color: #00008B		;
}
.green
{
    color:green;
}
.right
{
    text-align: right;
}
.blue
{
    color:blue;
}
.background
{
    background: #CBC3E3;
}
.backgroundimage
{
    background-image: url("Musical Notes.jepg");
}
.lightpurple
{
    color: #CBC3E3;
}
ul#menu {
list-style: none;
position: relative;
.. // other styling you want like color, font spacing etc.
}
ul#menu li {
float: left;
.. // other styling like border, text color, etc.
}

ul#menu li a {
display: inline;  // you have the menu running horiz on your page
.. // other stylings
}

ul#menu li span {
float: left;
position: absolute;
display: none;
}

ul#menu li:hover span {
display: block; // list submenu vertically
}
